// Site variables.

// Default Border Radius
$border-radius: 3px;

// mq breakpoints.
$mq-breakpoints: (
  small: 600px,
  medium: 768px,
  large: 1024px,
  xlarge: 1240px,
) !default;

$site-margin-top: 40px;
$site-margin-bottom: 40px;

$site-padding-left: 20px;
$site-padding-right: 20px;

$site-width: 1940px;
$wide-width: 2240px;
